:root {
  --bg: #010101;
  --white: #fff;
  --black: #000;
  --overlay: rgba(0, 0, 0, 0.75);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
}

label {
  display: block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="radio"] {
  position: absolute;
  bottom: 0;
  left: -9999px;
}

body {
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  height: 100%;
  padding: 1.25rem 0;
}

.container {
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.cssmemSlider-wrapper {
  position: relative;
}

.cssmemSlider-wrapper .cssmemSlider-list {
  display: grid;
}

.cssmemSlider-wrapper .cssmemSlider-list li {
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  transition: opacity 0.25s;
  height: 550px;
  overflow: hidden;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
}

.cssmemSlider-wrapper .dots {
  display: flex;
}

.cssmemSlider-wrapper .dots li {
  transition: opacity 0.25s;
}

.cssmemSlider-wrapper .dots label {
  width: 0.625rem;
  height: 0.625rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: var(--black);
}

.cssmemSlider-wrapper .bottom .dots li:not(:last-child) {
  margin-right: 1rem;
}

.cssmemSlider-wrapper .bottom .title {
  display: flex;
}

.cssmemSlider-wrapper .bottom .title li {
  opacity: 0;
  color: var(--white);
  font-size: 1.125rem;
  display: none;
  transition: opacity 0.25s;
}

.cssmemSlider-wrapper .bottom .title.mobile {
  display: none;
}

.cssmemSlider-wrapper .bottom label:hover {
  background: currentColor;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

[id="slide1"]:checked ~ .cssmemSlider .cssmemSlider-list li:nth-child(1),
[id="slide2"]:checked ~ .cssmemSlider .cssmemSlider-list li:nth-child(2),
[id="slide3"]:checked ~ .cssmemSlider .cssmemSlider-list li:nth-child(3),
[id="slide4"]:checked ~ .cssmemSlider .cssmemSlider-list li:nth-child(4) {
  opacity: 1;
}

[id="slide1"]:checked ~ .cssmemSlider .title li:nth-child(1),
[id="slide2"]:checked ~ .cssmemSlider .title li:nth-child(2),
[id="slide3"]:checked ~ .cssmemSlider .title li:nth-child(3),
[id="slide4"]:checked ~ .cssmemSlider .title li:nth-child(4) {
  opacity: 1;
  display: block;
}

[id="slide1"]:checked ~ .cssmemSlider .bottom [for="slide1"],
[id="slide2"]:checked ~ .cssmemSlider .bottom [for="slide2"],
[id="slide3"]:checked ~ .cssmemSlider .bottom [for="slide3"],
[id="slide4"]:checked ~ .cssmemSlider .bottom [for="slide4"] {
  background: currentColor;
}

/*Media*/
@media only screen and (max-width: 768px) {
  .cssmemSlider-wrapper .cssmemSlider-list li {
    height: auto;
  }
  .cssmemSlider-wrapper .bottom .title.mobile {
    display: block;
  }
  .cssmemSlider-wrapper .bottom .title.desktop {
    display: none;
  }
  .bottom {
    display: block;
  }
  .cssmemSlider-wrapper .dots {
    justify-content: center;
    margin-bottom: 0.938rem;
  }
  .cssmemSlider-wrapper .bottom .title li {
    font-size: 0.938rem;
  }
}
